/*
    .devInfo is going to be removed
    */

.devInfo {
  font-size: 8px;
}

.backgroundSquare {
  background: linear-gradient(180deg, #92002F 0%, #85171B 100%);
  padding: 20px 0px 50px 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.alreadyHaveAccount {
  color: #85171b;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.loginButtonContainer {
  position: relative;
  top: 30px;
}

.signUpTitle {
  font-family: "Poppins", sans-serif;
}

.loginForm {
  width: 100%;
}

.inputForm {
  text-align: center;
  width: 75%;
  padding: 7px;
  margin: 0px;
  height: 1.5em;
  border-radius: 10px;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background-color: #90032d52;
  font-family: "Poppins", sans-serif;
  max-width: 295px;
  max-width: 230px;
  margin: 7px 0px;
}

.form {
  text-align: left;

  width: 75%;
  padding: 7px;
  margin: 0.75em 3em 0.75em 3em;
  height: 1.5em;
  border-radius: 10px;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background-color: #92002f;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  color: white;
  opacity: 1;
  font-family: "Poppins", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-family: "Poppins", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-family: "Poppins", sans-serif;
}

.labelText {
  font-size: 24px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.logo {
  min-width: 100px;
  border-radius: 33%;
  // border: solid;
  // border-width: 2px;
  // border-color: #f6efe8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  max-width: 100px;
  height: auto;
  border-radius: 18px;
}

.card {
  text-align: center;
  color: white;
  background-color: #e5e5e5;
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  width: auto;
  height: 100%;
}

/* Add some padding inside the card container */
.container {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registerButton {
  font-size: 18px;
  margin-top: 15px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 5em;
  padding-left: 5em;
  border-color: white;
  border-style: none;
  border-radius: 50px; /* 5px rounded corners */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.backToSignUp {
  font-size: 18px;
  padding-top: 1em;
  text-decoration: none;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  border-radius: 50px; /* 5px rounded corners */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-color: white;
  border-style: none;
  border-width: 2px;
  color: white;
  background-color: #45393d;
}

.link {
  text-decoration: none;
  color: white;
}
