

.showLikesButton {

    padding: 0px 7px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.likesNames {

    padding: 0px 7px 0px 0px;
    display: inline-block;
    flex-wrap: wrap;
    font-size: 14px;
    color: #92002f;

}



.liked {
    color: #92002f;
   
}

.likedByContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #9c9c9c;
    flex-wrap: wrap;
}

.likedBy {
    margin-right: 5px;
    font-size: 15px;
    align-items: baseline;

}
