.commentContainer {

    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    display: flex;
    padding-bottom: 10px;
    align-items: center;

    
}

.comment {
    
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.commentDate {
    font-size: 12px;
    color: rgb(156, 156, 156);
}

.commentText {
    font-size: 12px;
}

input {
    width: 100%;
}

.commentNumber {
    background-color: blue;
}

.nameTime {


    padding: 0;
    margin: 0;
}

.commentAvatar {
    border-radius: 50%;
    border: solid #E5E5E5;

}

